<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMotionUsageDescription</key>
	<string>Andare uses motion data to determine your movement activity and relative altitude for fitness tracking.</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
